@mixin flexCenter($direction) {
   display: flex;
   direction: $direction;   
}


@mixin hoverColor($color) {
   &:hover{
      background-color: $color;
      transition: 0.4s;
   }
}


@mixin phoneView($visibility: hidden, $width: 70%, $margin: 0){
   @media (max-width: 900px) {
      visibility: $visibility;
      width: $width;
      margin: $margin;
   }
}

@mixin roundCorners {
   box-sizing: border-box;
   border-radius: 10px;
}

@mixin hline($w: 100%, $h: 0.01px, $c: rgba(241, 240, 240, 0.692)){
   height: $h;
   width: $w;
   color: $c;
}

