@mixin roundCorners($r: 10px) {
   box-sizing: border-box;
   border-radius: $r;
   cursor: pointer;
}

@mixin icon($hw: 45px, $backgroundColor: rgba(241, 240, 240, 0.692), $hoverColor: rgb(209, 209, 209), $borderRadius: 25px, $transitionTime: 0.4s, $margin-left: 10px){
   height: $hw;
   width: $hw;
   margin-left: $margin-left;
   padding: 7px;
   cursor: pointer;
   justify-content: center;
   align-items: center;
   // background-color: $backgroundColor;
   border-radius: $borderRadius;   
}

@mixin hline($w: 100%, $h: 0.01px, $c: rgba(253, 247, 247, 0.692)){
   height: $h;
   width: $w;
   color: $c;
}

@mixin flexCenter($direction) {
   display: flex;
   direction: $direction;   
}


@mixin hoverColor($color: rgb(225, 223, 223)) {
   &:hover{
      background-color: $color;
      transition: 0.4s;
   }
}

@mixin phoneView($visibility: hidden, $width: 70%, $margin: 0){
   @media (max-width: 1200px) {
      visibility: $visibility;
      width: $width;
      margin: $margin;
      margin-bottom: 20px;
   }
}


@mixin fullDesktopView($visibility: visible, $width: 650px, $margin: 0){
   @media (min-width: 1100px) {
      visibility: $visibility;
      width: $width;
      margin: $margin;
      margin-bottom: 20px;

   }
}

@mixin roundedInputField($w: 86%, $pad: 10px, $borderRadius: 40px, $marginL: 5px, $backgroundColor: $inputBackground){
   box-sizing: border-box;
   padding: $pad;
   border-radius: $borderRadius;
   width: $w;
   margin-left: $marginL;
   background-color: $backgroundColor;
}

@mixin leftNavIconAndWording($margin: 5px, $w: 15%, $pad: 0, $borderRadius: 10px, $marginL: 0px, $backgroundColor: $inputBackground){
   display: flex;
   align-items: center;
   @include roundedInputField($w, $pad, $borderRadius, $marginL, $backgroundColor);
   margin-right: $margin;
}