$blueBox: rgb(69, 69, 212);
$redBox: rgb(223, 36, 29);
$greyBox: rgb(182, 182, 182);
$inputBackground: rgb(244, 242, 250);


$fontBadScript: 'Bad Script', cursive;
$fontKnewave: 'Knewave', cursive;
