$blueBox: rgb(69, 69, 212);
$greyBox: rgb(182, 182, 182);
$inputBackground: rgb(240, 240, 240);
$homepageBodyMarginTop: 50px;

$fontBadScript: 'Bad Script', cursive;
$fontKnewave: 'Knewave', cursive;
$fontDelius: 'Delius Swash Caps', cursive;
$fontPurple: 'Purple Purse', cursive;
$fontdefault: bold 'Roboto', sans-serif;