$blueBox: rgb(69, 69, 212);
$greyBox: rgb(182, 182, 182);
$inputBackground: rgb(245, 245, 245);
$homepageBodyMarginTop: 55px;

$fontdefault: Arial, Helvetica, sans-serif;
$fontKnewave: 'Knewave', cursive;
$fontBadScript: 'Bad Script', cursive;
$fontDelius: 'Delius Swash Caps', cursive;
$fontPurple: 'Purple Purse', cursive;
$fontdefault2: bold 'Roboto', sans-serif;
$fontdefault3: 'Purple Purse', cursive;
$fontdefault4: 'Ubuntu', sans-serif;
$fontdefault5: 'Open Sans', sans-serif;