.comment-menu-icon, .comment-memu-icon{
   width: 14px;
   margin: 5px;
   margin-top: 20px;
}

.comment-menu-dropdown{
   position: absolute;
   background-color: white;
   @include roundCorners();
   width: 300px;
   box-shadow: 0 0 2px;
   z-index: 20;

}

.comment-menu-text{
   @include hoverColor();
   @include roundCorners(5px);
   font-weight: bold;
   padding: 5px;
   margin: 5px;
   font-size: 14px;
   width: 95%;
}