@import "variables";
@import "mixins";


.header{
   display: flex;
   justify-content: space-between;
   // position: fixed;
   width: 100%;
   background-color: rgb(245, 245, 252);
   z-index: 1;
}

// .header-icons{
//    // display:flex;
// }

.logo {
   width: 45px;
   height: 45px;
   padding: 7px;
   cursor: pointer;
   background-color: rgb(211, 230, 212);
   border-radius: 25px;
   &:hover{
      background-color:rgb(209, 209, 209);
      transition: 0.4s;
   }
}

// .search{
//    width: 30px;
//    height: 30px;
//    // width: 30px;
//    // height: 30px;
//    // bottom: 10px;
// }

// .header2{
//    // display: flex;
//    // justify-content: space-between;
//    // margin-left: 5%;
// }

// .down-arrow{
//    width: 50px;
//    height: 50px;
//    // align-self: right;
//    // justify-content: space-between;
// }

.show-menu-dropdown{
   float: right;
   z-index: 1;
   color: red;

   display: flex;
   width: 360px;
   height: 360px;
   border-radius: 5px;
   box-shadow: 0 0 10px;
   flex-direction: column;
   align-content: space-around;
   font-size: 14px;
   cursor: pointer;
}
