@import "variables";
@import "mixins";


.left-nav{
   background-color:$inputBackground;
   margin-top: $homepageBodyMarginTop;
   position:fixed;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   @include phoneView();
   .left-nav-icon-row{
      @include leftNavIconAndWording();
      text-size-adjust: 60px;   
   }   
   .user-logo-leftnav{
      @include icon($hw: 60px, $hoverColor: none);
      cursor: default;
   }   
   .leftnav-name{
      font-weight: bold;
      font-size: 20px;
   }
}


.right-nav{
   background-color:$inputBackground;
   margin-top: $homepageBodyMarginTop;
   right: 0;
   position:fixed;
   display: flex;
   flex-direction: column;
   width: 18%;
   height: 100%;
   @include phoneView();
   .not-sponsored{
      font-size: 18px;
      margin: 15px;
   }
   
   .right-nav-icon-row{
      display: flex;
      align-items: center;
      @include roundCorners();
      @include hoverColor();
      cursor: pointer;
   
   }
   .sponsored-logo-rightnav{
      @include icon(140px, none, none)
   }
   
   .sponsored-wording-rightnav{
      display: flex;
      flex-direction: column;
   }
   
   .LinkedIn-rightnav{
      font-weight: bold;
      font-size: 20px;
   }
   
   .name-rightnav{
      font-size: 12px;
   }
}


.posting-box{   
   position: relative;
   background-color: white;
   display: flex;
   flex-direction: column;
   width: 62%;
   height: 125px;
   position: absolute;
   top: 70px;
   left: 50%;
   // border: 1px solid; 
   box-sizing: border-box;
   box-shadow: 0 0 1px;
   transform: translate(-50%, 0%); 
   @include phoneView(visible);
   @include fullDesktopView();
   @include roundCorners();
   .post-user-pic{
      @include icon(50px, white, white);
   }
   
   .posting-query{
      display: flex;
      margin-top: 1%;
   }
   
   .create_post-input{
      // width: 99%;
      @include roundedInputField();
      @include hoverColor();
   }

   .pic-preview{
      width: 10px;
      height: 10px;
   }
   
   .add-media-to-post{
      display: flex;
      justify-content: space-between;
      position: center;
      // align-items: center;
      // left: 5px;
      margin: 0% 4% 0% 4%;
      cursor: pointer;

   }

   
   .media-links-post{
      display: flex; 
      width: 33%; 
      @include hoverColor(rgb(241, 234, 234));
      @include roundCorners(); 
      // margin: auto;
      // text-align: center;
      justify-content: center;
      align-items: center;
      .media-icons-post{
         @include icon(40px, white, white); 
         // margin-left: 10%;
         // width: 50%; 
         left: 50%;        
      }
      .media-text-post{
         font-size: 80%px;
         padding: 10px;
         box-sizing: border-box;
         border-radius: 40px;
         width: 86%;
         margin: 2px;
      }
   }
   
   

   .num_likes{
      display: flex; 
      width: 15%; 
      @include roundCorners(); 
   }

}

.media-links-like-comment{
   display: flex; 
   width: 40%; 
   @include hoverColor(rgb(241, 234, 234));
   @include roundCorners(); 
   // margin: auto;
   // text-align: center;
   justify-content: center;
   align-items: center;
       
}


//posts:

.entire-post{
   position: relative;
   border: 10px;
   top: 20px;
   bottom: 20px;
   transform: translate(0%, 0.1%); 
   cursor: default;
}

.top-bar-of-post{
   position: relative;
   display: flex;
   justify-content: space-between;
}


#posts{
   position: relative;
   padding: 10px;
   border: 10px;   
   background-color: white;   
   display: flex;
   flex-direction: column;
   width: 62;
   box-sizing: border-box;
   box-shadow: 0 0 2px;
   // position: sticky;
   // transform: translate(0%, 3%); 
   @include phoneView(visible, 100%); 
   @include fullDesktopView();
   @include roundCorners();
   cursor: default;
   margin-bottom: 20px;
}

.poster-and-time{
   display: flex;
   flex-direction: row;   
}

.profile-pic{
   width: 6%;
   height: 6%;
   @include roundCorners(50px); 
}

.name-and-time{
   font-weight: bold;
   margin-left: 10px;
   display: flex;
   flex-direction: column;
}

.name-and-time{
   font-size: 14px;
}

.created_at{
   font-size: 12px;
   color: grey;
}

// .post-menu-dots{
//    @include icon();
//    // align-self: flex-end;
//    justify-self: flex-end;
//    margin-right: 5px;
// }

.hline-posts-top{
   @include hline();
}

.post-body-homepage{
   font-weight: bold;
   margin: 5px;
   font-size: 20px;
}

.hline-posts{
   @include hline(95%);
   color: rgb(196, 196, 196);
}

.like-comment-share{
   display: flex; 
   justify-content: center;
   align-items: center;
   position: center;
   @include roundCorners(); 
}

.like-comment-share-icons{
   @include hoverColor(rgb(241, 234, 234));
   align-self: center;
   @include icon($hw: 30px, $backgroundColor: rgba(241, 240, 240, 0.692), $hoverColor: rgb(209, 209, 209), $borderRadius: 100px, $transitionTime: 0.4s, $margin-left: 0);
}

.like-comment-share-text{
   align-self: center;
   font-size: 40%px;
   margin-right: 13px;
}  

.pic-comment-dropdown{
   display: flex;
   margin-top: 5px;
}

.comment-name-and-body{
   @include roundCorners();
   @include hoverColor();
   background-color: $inputBackground;
   .comment-author{
      padding: 5px;
      font-weight: bold;
   }
   .comment-body-homepage{
      font-weight: 1;
      padding: 0 5px 4px 5px;
   }   
}

.edit-comment-input{
   // position: absolute;
   @include roundedInputField(87%);
   background-color: $inputBackground;
   @include hoverColor();
   @media (min-width: 1100px) {
      @include roundedInputField(87%); 
      @include hoverColor();     
   }
}

.created-at-comment{
   position: static;
   font-size: 12px;
   color: grey;
   margin-left: 55px;
}

