
.login-page{   
   display: flex;
   justify-content: center;
   // justify-content: space-between;
   // margin-right: 25%;
   // margin-left: 25%;
   margin-top: 10%;
   // background-color:rgb(231, 210, 210);
}

.tfb{
   font-family: Luminari, fantasy;
   color:blue;
   // background-color:yellow;
   font-size: 280%;
}
.under-tfb{
   width: 65%;
   font-family: Snell Roundhand, cursive;
}

.main-form{
   width: 240px;
   height: 280px;
   display: flex;
   flex-direction: column;
   border: 2px solid;  
   border-radius: 7px; 
   box-shadow: 0px 0px 4px;
   // justify-content: center;
   flex-shrink: 0;
   align-items: center;
}

.actual-form{
   display: flex;
   flex-direction: column;
   // justify-content: center;
   align-items: center;
}


.login-field{
   width: 99%;
   margin: 4px;
   padding: 6px;
   // box-sizing: border-box;
   border: 0.1px solid grey;
   border-radius: 3px;     
}

.errors{
   margin: 4px;
   padding: 6px;
   border: 0.1px red; 
   color: red;
   font-size: 10px;
}

.login-button{
   background-color:rgb(78, 78, 250);
   padding: 6px;
   // box-sizing: border-box;
   border: 2px solid; 
   text-align: center;
   color: white;
   border-radius: 10px; 
   width: 99%;
}
.login-button:hover{
   background-color:rgb(71, 38, 218);
}

.demo-login{
   background-color:rgb(128, 0, 0);
   padding: 6px;
   // box-sizing: border-box;
   border: 2px solid; 
   text-align: center;
   color: white;
   border-radius: 10px; 
   width: 60%;   
}

.hline-login{
   height: 0.01px;
   width: 90%;
   color: rgb(187, 183, 183);
}

.create_user-button{
   background-color:rgb(8, 192, 8);
   padding: 10px;
   // box-sizing: border-box;
   border: 2px solid; 
   text-align: center;
   color: white;
   border-radius: 10px; 
   width: 80%;   
   align-self: center;
}


.footer{
   bottom:10px;
}


