@import "variables";
@import "mixins";

.modal-background {
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background:rgba(243, 241, 241, 0.95);
   z-index: 10;
   // opacity: 0.95;
 }

// .title-and-x{
//    // display: flex;
//    // justify-content: space-between;
// }
.post-form-with-pic {
   background-color:white;
   display: flex;
   width: 420px;
   height: 620px;
   position: absolute;
   top: 25%;
   left: 50%;
   border-radius: 5px;
   box-shadow: 0 0 10px;
   flex-direction: column;
   align-content: space-around;
   transform: translate(-50%, 0%);   
}

 
.post-form {
   background-color:white;
   display: flex;
   width: 420px;
   height: 370px;
   position: absolute;
   top: 25%;
   left: 50%;
   border-radius: 5px;
   box-shadow: 0 0 10px;
   flex-direction: column;
   align-content: space-around;
   transform: translate(-50%, 0%);   
}


.post-x{
   font-weight: bold;
   margin: 5px;
   padding: 5px;
   background-color: rgb(227, 233, 228);
   cursor: pointer;
   border-radius: 50%;
   @include hoverColor(rgb(209, 209, 209));
}

.hidden-x{
   margin: 5px;
   padding: 5px;
   cursor: none;
   color: white;
}


.create-post{
   font-size: 140%; 
   font-weight: bold;
   margin: 5px;   
   align-self:center;
}

.user-row{
   display: flex;
}

.header-name{
   cursor: pointer;
   margin: 5px;
   font-weight: bold;
}


.centered-post-form{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.hline-post{
   @include hline();
}

.post-body{
   align-self: flex-start;
   margin: 10px;
   width: 400px;
   height: 110px;
   align-self: flex-start;
   // border: 1px solid #cdcdcd;
}

.post-body .placeholder{
   align-self: flex-start;
   resize: none;
}
.pic-preview{
   height: 250px;
   width: 95%;
   transform: translate(2.5%, 0%);
   @include roundCorners();
}

.add-media-to-post-modal{
   display: flex;
   justify-content:space-between;
   align-self:center;
   border: 1px solid; 
   width: 95%;   
   padding: 10px;
   @include roundCorners();
}

.Add-to-your-post{
   margin-left: 10px;
   margin: 0 10px 0 10px;
   align-self:center;
}

.media-link-icons-group{
   display: flex;
   width: 20%;
   height: 20%;
   margin: 0 10px 0 10px;
}

.media-icons-modal-vid, .media-icons-modal-pic, .media-icons-modal-smiley{
   padding-left: 5px;
   @include icon(30px)
}

// .Video-hidden-text, .picture-hidden-text, .feeling-hidden-text{
//    visibility: hidden;
//    position: relative;
// } 

// .media-icons-modal-vid:hover{
//    visibility: hidden;

//    .Video-hidden-text{
//       visibility:visible;
//    }
// }

.hidden-input-pic{
   display:none;
}


.enabled-post-button{
   margin-top: 10px;
   background-color: $blueBox;
   padding: 10px;
   box-sizing: border-box;
   border-radius: 10px; 
   border: 1px solid; 
   text-align: center;
   color: white;
   width: 95%;   
   // align-self: center;
   cursor: pointer;
   @include hoverColor(rgb(103, 103, 238));    
}

.disabled-post-button{
   margin-top: 10px;
   background-color:rgb(239, 245, 239);
   padding: 10px;
   box-sizing: border-box;
   border-radius: 10px; 
   // border: 2px solid; 
   text-align: center;
   color: rgb(2, 1, 1);
   width: 95%;   
   align-self: center;
   cursor: not-allowed;
}




