@import "variables";
@import "mixins";


.cover-photo-and-profile-photo{
   position: relative;
}
.cover-photo{
   display: flex;
   flex-direction: column;
   position: relative;
   width: 80%;
   transform: translate(0%, 0%); 
   margin-left: 10%;     
   @include roundCorners();
   object-fit: cover;
   max-height: 400px;
}

.edit-cover-photo{
   position: absolute;
   width: 6%;
   transform: translate(0%, 220%); 
   margin-left: 85%;
   margin-top: 32%;   
   @include roundCorners(20px);
   // object-fit: cover;
   z-index: 1;

}

.profile-photo-and-name{
   display: flex;

   .profile-photo{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 15%;
      transform: translate(0%,-25%); 
      margin-left: 12%;
      width: 170px;
      height: 170px;
      border-radius: 85px;
      object-fit: cover;
      border: 7px solid white;      
   }
   .edit-profile-photo{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 15%;
      transform: translate(-90%,120%); 
      width: 50px;
      height: 50px;
      border-radius: 85px;
      object-fit: cover;
   }
   .profile-name{
      font-weight: bold;
      font-size: 24px;
      margin: 20px 0 0 20px;
   }
}


