@import "variables";
@import "mixins";


// header:
.menu-background{
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 10;
   
}
.menu-dropdown{ 
   background-color: white; 
   display: flex;
   flex-direction: column;
   width: 250px;
   position: absolute;
   top: 5%;
   right: 2%;
   border-radius: 5px;
   box-shadow: 0 0 10px;
   align-content: space-around;
}

.menu-text{
   left: 14px;
   padding: 6px;
   cursor: pointer;
}

.logout-row{
   display: flex;
   margin: 5px;
   justify-content: safe;
   @include hoverColor(rgb(252, 230, 230));
   @include roundCorners(5px);
}

.logout-memu-icon{
   @include icon(30px, $backgroundColor: transparent, $hoverColor: transparent);
}





.cover-photo-and-profile-photo{
   cursor: default;
   position: relative;
   max-height: 400px;
}
.cover-photos-and-name{
   cursor: default;
   #cover-photo-pic{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 65%;
      height: 370px;
      transform: translate(0%, 0%); 
      margin-left: 17.5%;     
      @include roundCorners();
      object-fit: cover;
      max-height: 400px;
      cursor: default;
      @media (max-width: 1100px) {
         display: flex;
         flex-direction: column;
         position: relative;
         width: 100%;
         transform: translate(0%, 0%); 
         margin-left: 0;     
         @include roundCorners();
         object-fit: cover;
         max-height: 400px;
         min-height: 350px;
         cursor: default;
      }
   }
}

#edit-cover-photo-container{
   display: flex;
   position: absolute;
   width: 200px;
   right: 20%;
   margin-top: -55px;   
   @include roundCorners(5px);
   background-color:white;
   padding: 6px 12px 6px 12px;
   object-fit: cover;
   @media (max-width: 1100px) {
      width: 55px;
      right: 30px;    
   }
   .edit-cover-photo-pic-container{
      cursor: pointer;
      display: flex;
      .edit-cover-photo-pic{
         object-fit: cover;
         width: 30px;
      }
      .edit-cover-photo-text{
         padding: 6px 12px 6px 12px;
         @media (max-width: 1100px) {
            display: none;
         }
      }
      
   }
}

.save-cover-photo-pic{
   cursor: pointer;
   position: absolute;
      width: 200px;
      right: 20%;
      margin-top: -55px;   
      @include roundCorners(5px);
      background-color:rgb(255, 255, 255);
      padding: 6px 12px 6px 12px;
      object-fit: cover;
      object-fit: cover;
      width: 55px;
      right: 20%; 
   @media (max-width: 1100px) {
      right: 30px; 
   }
}


.profile-photo-and-name{
   display: flex;
   @media (max-width: 1100px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;      
   }
   .profile-photo{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 15%;
      transform: translate(0%,-25%); 
      margin-left: 18%;
      width: 170px;
      height: 170px;
      border-radius: 85px;
      object-fit: cover;
      border: 7px solid white; 
      @media (max-width: 1100px) {
         margin-left: 0%;
      }     
   }
   .edit-profile-photo{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 15%;
      transform: translate(-90%,120%); 
      width: 50px;
      height: 50px;
      border-radius: 85px;
      object-fit: cover;
      @media (max-width: 1100px) {
         transform: translate(130%, -205%);
      }
   }
   .profile-name{
      font-weight: bold;
      font-size: 24px;
      margin: 20px 0 0 -20px;
      @media (max-width: 1100px) {
         margin: -70px 0 0 0px;
      }
   }
   .others-profile-name{
      font-weight: bold;
      font-size: 24px;
      margin: 20px 0 0 15px;
      @media (max-width: 1100px) {
         margin: 0px 0 0 0px;
      }
   }
}
.myPosts-section{
   display: flex;
   position:relative;
   margin-top: 100px;  
   // transform: translate(90%,0%);
   @media (max-width: 1100px) {
      margin-top: 300px;  
      flex-direction: column;
   }
}

.middle-nav-newsfeed2-profile{   
   position: relative;
   background-color: white;
   display: flex;
   flex-direction: column;
   width: 650px;
   height: 125px;
   position: relative;
   top: 20px;
   left: 15vw;    
   box-sizing: border-box;
   box-shadow: 0 0 1px;
   // transform: translate(-50%, 0%);
   // width: 65%;
   @include roundCorners();
   position: absolute;
   top: 50%;
   left: 40%;
   margin-right: -50%;
   transform: translate(-50%, 30%);
   @media (max-width: 1670px) {
      left: 35%;
   }
   @media (max-width: 1100px) {
      margin-right: 0%;
      transform: translate(0%, 0%);
      top: 360px;
      left: 20%;
      width: 65%;
      min-width: 400px;
   }
   @media (max-width: 770px) {
      left: 5%;
      width: 90%;
   }
   .posting-box-profile{
      width: 100%;
   }
   .post-user-pic-profile{
      @include icon(50px, white, white);
   }
   
   .posting-query-profile{
      display: flex;
      margin-top: 1%;
   }
   
   .create_post-input-profile{
      width: 99%;
      @include roundedInputField();
      @include hoverColor();
   }

   .pic-preview-profile{
      width: 10px;
      height: 10px;
   }
   
   .add-media-to-post-profile{
      display: flex;
      justify-content: space-between;
      position: center;
      // align-items: center;
      // left: 5px;
      margin: 0% 4% 0% 4%;
      cursor: pointer;

   }

   
   .media-links-post-profile{
      display: flex; 
      width: 33%; 
      @include hoverColor(rgb(241, 234, 234));
      @include roundCorners(); 
      // margin: auto;
      // text-align: center;
      justify-content: center;
      align-items: center;
      .media-icons-post-profile{
         @include icon(40px, white, white); 
         // margin-left: 10%;
         // width: 50%; 
         left: 50%;        
      }
      .media-text-post-profile{
         font-size: 80%px;
         padding: 10px;
         box-sizing: border-box;
         border-radius: 40px;
         width: 86%;
         margin: 2px;
      }
   } 
}
.post-user-pic{
   @include icon(50px, white, white);
}
.posting-query{
   display: flex;
   margin-top: 1%;
}
.create_post-input{
   // width: 99%;
   @include roundedInputField();
   @include hoverColor();
}
.num_likes{
   display: flex; 
   width: 15%; 
   @include roundCorners(); 
}

// .img-class{
//    background-image: url(../../app/assets/images/gh.png);
//    background-size: cover;
//    width:100px;
//    height:100px;
// }
.posts-and-bio{
   padding: 10px;
   @include roundCorners();
   background-color: white;
   box-shadow: 0 0 2px;
   left: 670px;
   position: absolute;
   min-width: 400px;
   cursor: default;
   @media (max-width: 1100px) {
      width: 100%;
      left: 0%;
      transform: translate(0%, -110%);
      min-width: 400px;
      cursor: default;
   }
   .bio-container{
      cursor: default;

      #bio-row{         
         display: flex;
         font-size: 90%;
         margin: 10px;
         .profile-icon{
            padding: 0 5px 0 0;
            width: 35px;
            height: 30px;
            object-fit: cover;
            align-self: center;
         }
         #bio-wording{
            display: flex;
            margin-top: 5px;
            margin-left: 10px;
            p {
               align-self: center;
            }
            #bio-entry-bold{
               font-weight: bold;
               margin-left: 5px;
            }
            .profile-input-field{
               margin: 4px;
               padding: 6px;
               width: 100%;
               border: 0.1px solid grey;
               background-color: #eee8e8;
               border-radius: 6px;
               margin-left: 25px;
            }
            
         }
      }
   }
   .edit-profile-button{
      cursor: pointer;
      justify-content:cunter;
      font-size: 25px;
      padding: 6px;
      border: 0.1px solid black;
      background-color: white;
      border-radius: 6px;
      box-shadow: 0 0 4px;
      margin-left: 5%;
      margin-top: 25px;
      margin-bottom: 15px;
   }
   .cancel-edit-profile-button{
      cursor: pointer;
      font-size: 25px;
      padding: 6px;
      border: 0.1px solid black;
      background-color: white;
      border-radius: 6px;
      box-shadow: 0 0 4px;
      margin-left: 1%;

   }
   .save-edit-profile-button{
      cursor: pointer;
      justify-content:cunter;
      font-size: 25px;
      padding: 6px;
      border: 0.1px solid black;
      background-color: rgb(5, 223, 5);
      color: white;
      border-radius: 6px;
      box-shadow: 0 0 4px;
      margin-left: 5px;
   }

   // #id-poster-and-time{
   //    // position: relative;
   //    // padding: 10px;
   //    // border: 10px;   
   //    // background-color: white;   
   //    // display: flex;
   //    // flex-direction: column;
   //    // width: 62;
   //    // box-sizing: border-box;
   //    // box-shadow: 0 0 2px;
   //    // // position: sticky;
   //    // @include phoneView(visible, 100%); 
   //    // @include fullDesktopView();
   //    // @include roundCorners();
   //    // cursor: default;
   //    // margin-bottom: 20px;
   //    width: 100px;
   // }
}

