.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background:rgb(243, 241, 241);
   z-index: 10;
   opacity: 0.9;
 }
 
 .signup-form {
   display: flex;
   width: 400px;
   height: 450px;
   position: absolute;
   top: 25%;
   left: 50%;
   border-radius: 5px;
   box-shadow: 0 0 10px;
   flex-direction: column;
   align-content: space-around;
   transform: translate(-50%, 0%);
}

.signup{
   font-size: 200%; 
   font-weight: bold;
   margin-top: 5px;
   margin-left: 5px;
   align-self: left;
}

.quick-and-easy{
   font-size: 80%; 
   margin-left: 5px;  
}

.centered-signup-form{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.hline-signup{
   height: 0.01px;
   width: 100%;
   color: rgb(187, 183, 183);
}

.name{
   display:flex;
}

.first_name{
   margin: 4px;
   padding: 6px;
   width: 95%;
   // box-sizing: border-box;
   border: 0.1px solid grey;  
   // display:flex;
   border-radius: 3px; 
}
.last_name{
   margin: 4px;
   padding: 6px;
   width: 95%;
   // box-sizing: border-box;
   border: 0.1px solid grey;  
   display:flex;
   border-radius: 3px; 
}

.upe{
   margin: 2px;
   padding: 4px;
   width: 100%;
   align-self: left;
   // box-sizing: border-box;
   border: 0.1px solid grey;  
   // display:flex;
   background-color:rgb(233, 223, 223);
   border-radius: 3px; 
}

.bday{
   font-size: 12px;
}

.date{
   margin: 4px;
   padding: 6px;
   width: 100%;
   align-self: left;
   // box-sizing: border-box;
   border: 0.1px solid grey;  
   // display:flex;
   background-color:rgb(233, 223, 223);
   border-radius: 3px; 
}

.signup-button{
   background-color:rgb(21, 119, 21);
   padding: 10px;
   box-sizing: border-box;
   border: 2px solid; 
   text-align: center;
   color: white;
   border-radius: 10px; 
   width: 60%;   
   align-self: center;
}